## Reading and understanding the dataset

In [200]:
import pandas as pd
import sqlite3
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [201]:
conn = sqlite3.connect("../im.db/im.db")

In [202]:
tables= pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(tables)

            name
0   movie_basics
1      directors
2      known_for
3     movie_akas
4  movie_ratings
5        persons
6     principals
7        writers

In [203]:
movie_basics =pd.read_sql_query("""
    SELECT * FROM movie_basics
""", conn)

movie_basics.head(10)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy
6,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller"
7,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy"
8,tt0139613,O Silêncio,O Silêncio,2012,NaN,"Documentary,History"
9,tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,Biography

In [204]:
movie_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [205]:
# Null values spotted are in the columns original title, runtime minutes and genres

In [206]:
movie_basics.dropna()

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy
...,...,...,...,...,...,...
146134,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary
146135,tt9916170,The Rehearsal,O Ensaio,2019,51.0,Drama
146136,tt9916186,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,2017,84.0,Documentary
146137,tt9916190,Safeguard,Safeguard,2019,90.0,"Drama,Thriller"
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama

In [207]:
movie_basics.duplicated().sum()

0

In [208]:
movie_basics.isna().sum()

movie_id               0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [209]:
movie_basics.drop('runtime_minutes', axis=1, inplace=True)

In [210]:
movie_basics['genres'] = movie_basics['genres'].fillna('unknown')
movie_basics

,movie_id,primary_title,original_title,start_year,genres
0,tt0063540,Sunghursh,Sunghursh,2013,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,"Comedy,Drama,Fantasy"
...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,unknown
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,Documentary

In [211]:
movie_basics['original_title'] = movie_basics['original_title'].fillna('unknown')
movie_basics

,movie_id,primary_title,original_title,start_year,genres
0,tt0063540,Sunghursh,Sunghursh,2013,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,"Comedy,Drama,Fantasy"
...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,unknown
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,Documentary

In [212]:
movie_basics.isna().sum()

movie_id          0
primary_title     0
original_title    0
start_year        0
genres            0
dtype: int64

In [213]:
movie_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   movie_id        146144 non-null  object
 1   primary_title   146144 non-null  object
 2   original_title  146144 non-null  object
 3   start_year      146144 non-null  int64
 4   genres          146144 non-null  object
dtypes: int64(1), object(4)
memory usage: 5.6+ MB

In [214]:
movie_ratings =pd.read_sql_query("""
    SELECT * FROM movie_ratings
""", conn)
movie_ratings

         movie_id  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [215]:
movie_ratings = movie_ratings.rename(columns={
    'averagerating': 'average_rating',
    'numvotes':'num_votes'
})

In [216]:
movie_ratings.isna().sum()

movie_id          0
average_rating    0
num_votes         0
dtype: int64

In [217]:
movie_ratings =pd.read_sql_query("""
    SELECT * FROM movie_ratings
""", conn)
movie_ratings

         movie_id  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [218]:
movie_basics.head()

,movie_id,primary_title,original_title,start_year,genres
0,tt0063540,Sunghursh,Sunghursh,2013,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,"Comedy,Drama,Fantasy"

In [219]:
movie_ratings.head()

     movie_id  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

## Reading the pandas dataset

In [220]:
df_bom = pd.read_csv("./bom.movie_gross.csv")
df_bom

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [221]:
df_tm= pd.read_csv("./tmdb.movies.csv")
df_tm

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [222]:
df_tn= pd.read_csv("./tn.movie_budgets.csv")
df_tn

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

## Merging data sets and SQL

In [223]:
# loading the clean data sets
df_bom_cleaned = pd.read_csv("cleaned-bom.movies.csv")
df_bom_cleaned

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000.0,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010
3,Inception,WB,292600000.0,535700000.0,2010
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,18700000.0,2018
3383,Edward II (2018 re-release),FM,4800.0,18700000.0,2018
3384,El Pacto,Sony,2500.0,18700000.0,2018
3385,The Swan,Synergetic,2400.0,18700000.0,2018
3386,An Actor Prepares,Grav.,1700.0,18700000.0,2018

In [224]:
df_tm_cleaned = pd.read_csv("tmdb.movies.csv")
df_tm_cleaned

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [225]:
df_tn_cleaned = pd.read_csv("cleaned-tn.movies_budgets.csv")
df_tn_cleaned

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,profit
0,1,"Dec 18, 2009",avatar,425000000.0,760507625.0,2.776345e+09,2.351345e+09
1,2,"May 20, 2011",pirates of the caribbean: on stranger tides,410600000.0,241063875.0,1.045664e+09,6.350639e+08
2,3,"Jun 7, 2019",dark phoenix,350000000.0,42762350.0,1.497624e+08,-2.002376e+08
3,4,"May 1, 2015",avengers: age of ultron,330600000.0,459005868.0,1.403014e+09,1.072414e+09
4,5,"Dec 15, 2017",star wars ep. viii: the last jedi,317000000.0,620181382.0,1.316722e+09,9.997217e+08
...,...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",red 11,7000.0,0.0,0.000000e+00,-7.000000e+03
5778,79,"Apr 2, 1999",following,6000.0,48482.0,2.404950e+05,2.344950e+05
5779,80,"Jul 13, 2005",return to the land of wonders,5000.0,1338.0,1.338000e+03,-3.662000e+03
5780,81,"Sep 29, 2015",a plague so pleasant,1400.0,0.0,0.000000e+00,-1.400000e+03
5781,82,"Aug 5, 2005",my date with drew,1100.0,181041.0,1.810410e+05,1.799410e+05

## Merging the two tables in the IMDB database to create a IMDB dataframe

In [226]:
imdb_df = movie_basics.merge(movie_ratings, on="movie_id", how="left")
imdb_df

,movie_id,primary_title,original_title,start_year,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,"Action,Crime,Drama",7.0,77.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,"Biography,Drama",7.2,43.0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,Drama,6.9,4517.0
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,"Comedy,Drama",6.1,13.0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,"Comedy,Drama,Fantasy",6.5,119.0
...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,Drama,NaN,NaN
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,Documentary,NaN,NaN
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,Comedy,NaN,NaN
146142,tt9916730,6 Gunn,6 Gunn,2017,unknown,NaN,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,Documentary,NaN,NaN

In [227]:
#checking the column names in both data frames
print(imdb_df.columns)
print(df_bom_cleaned.columns)

Index(['movie_id', 'primary_title', 'original_title', 'start_year', 'genres',
       'averagerating', 'numvotes'],
      dtype='object')
Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

In [228]:
# the first merger between IMDB and Box office movies 
merged_df= imdb_df.merge(
    df_bom_cleaned,
    left_on=['primary_title', 'start_year'],
    right_on=['title', 'year'],
    how='inner'
)
merged_df

,movie_id,primary_title,original_title,start_year,genres,averagerating,numvotes,title,studio,domestic_gross,foreign_gross,year
0,tt0315642,Wazir,Wazir,2016,"Action,Crime,Drama",7.1,15378.0,Wazir,Relbig.,1100000.0,18700000.0,2016
1,tt0337692,On the Road,On the Road,2012,"Adventure,Drama,Romance",6.1,37886.0,On the Road,IFC,744000.0,8000000.0,2012
2,tt0359950,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,"Adventure,Comedy,Drama",7.3,275300.0,The Secret Life of Walter Mitty,Fox,58200000.0,129900000.0,2013
3,tt0365907,A Walk Among the Tombstones,A Walk Among the Tombstones,2014,"Action,Crime,Drama",6.5,105116.0,A Walk Among the Tombstones,Uni.,26300000.0,26900000.0,2014
4,tt0369610,Jurassic World,Jurassic World,2015,"Action,Adventure,Sci-Fi",7.0,539338.0,Jurassic World,Uni.,652300000.0,1019.4,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
1868,tt8362680,Mountain,Mountain,2018,Documentary,NaN,NaN,Mountain,Greenwich,365000.0,18700000.0,2018
1869,tt8404272,How Long Will I Love U,Chao shi kong tong ju,2018,Romance,6.5,607.0,How Long Will I Love U,WGUSA,747000.0,82100000.0,2018
1870,tt8427036,Helicopter Eela,Helicopter Eela,2018,Drama,5.4,673.0,Helicopter Eela,Eros,72000.0,18700000.0,2018
1871,tt9078374,Last Letter,"Ni hao, Zhihua",2018,"Drama,Romance",6.4,322.0,Last Letter,CL,181000.0,18700000.0,2018
1872,tt9151704,Burn the Stage: The Movie,Burn the Stage: The Movie,2018,"Documentary,Music",8.8,2067.0,Burn the Stage: The Movie,Trafalgar,4200000.0,16100000.0,2018

## Merging the rest of the pandas dataframes with the primary dataframe ie IMDB dataframe
In this step we are supposed to merge the main dataframe to the other dataframes i.e box office movies, The movie database and the Numbers to come up with one comprehensive dataset to help clearly analyze the patterns in the movie industry.

In [229]:
# checking the columns on both data frames
print(df_tm_cleaned.columns)
print(merged_df.columns)

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')
Index(['movie_id', 'primary_title', 'original_title', 'start_year', 'genres',
       'averagerating', 'numvotes', 'title', 'studio', 'domestic_gross',
       'foreign_gross', 'year'],
      dtype='object')

In [230]:
#checking the data types
print(merged_df[['primary_title', 'start_year']].dtypes)
print(df_tm_cleaned[['title', 'release_date']].dtypes)

primary_title    object
start_year        int64
dtype: object
title           object
release_date    object
dtype: object

In [231]:
#changing the data type of start year from an integer to string
merged_df['start_year'] = merged_df['start_year'].astype(str)

In [232]:
# Changing release year to release date for merging purposes
df_tm_cleaned['release_year'] = pd.to_datetime(df_tm_cleaned['release_date'], errors='coerce').dt.year

In [233]:
#checking the length of both databases
print(len(merged_df))
print(len(df_tm_cleaned))

1873
26517

In [234]:
#changing the case to lower case 
merged_df['primary_title'] = merged_df['primary_title'].str.strip().str.lower()
df_tm_cleaned['title'] = df_tm_cleaned['title'].str.strip().str.lower()

In [235]:
df_tm_cleaned['release_date'] = df_tm_cleaned['release_date'].astype(str).str.extract(r'(\d{4})')[0]
merged_df['start_year'] = merged_df['start_year'].astype(str).str.extract(r'(\d{4})')[0]

In [236]:
merged_final = merged_df.merge(
    df_tm_cleaned,
    left_on=['primary_title', 'start_year'],
    right_on=['title', 'release_date'],
    how='inner'
)
merged_final

,movie_id,primary_title,original_title_x,start_year,genres,averagerating,numvotes,title_x,studio,domestic_gross,...,genre_ids,id,original_language,original_title_y,popularity,release_date,title_y,vote_average,vote_count,release_year
0,tt0315642,wazir,Wazir,2016,"Action,Crime,Drama",7.1,15378.0,Wazir,Relbig.,1100000.0,...,"[53, 28, 80, 18, 9648]",275269,hi,वज़ीर,3.881,2016,wazir,6.6,63,2016
1,tt0337692,on the road,On the Road,2012,"Adventure,Drama,Romance",6.1,37886.0,On the Road,IFC,744000.0,...,"[12, 18]",83770,en,On the Road,8.919,2012,on the road,5.6,518,2012
2,tt0359950,the secret life of walter mitty,The Secret Life of Walter Mitty,2013,"Adventure,Comedy,Drama",7.3,275300.0,The Secret Life of Walter Mitty,Fox,58200000.0,...,"[12, 35, 18, 14]",116745,en,The Secret Life of Walter Mitty,10.743,2013,the secret life of walter mitty,7.1,4859,2013
3,tt0365907,a walk among the tombstones,A Walk Among the Tombstones,2014,"Action,Crime,Drama",6.5,105116.0,A Walk Among the Tombstones,Uni.,26300000.0,...,"[80, 18, 9648, 53]",169917,en,A Walk Among the Tombstones,19.373,2014,a walk among the tombstones,6.3,1685,2014
4,tt0369610,jurassic world,Jurassic World,2015,"Action,Adventure,Sci-Fi",7.0,539338.0,Jurassic World,Uni.,652300000.0,...,"[28, 12, 878, 53]",135397,en,Jurassic World,20.709,2015,jurassic world,6.6,14056,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,tt8097306,nobody's fool,Nobody's Fool,2018,"Comedy,Drama,Romance",4.6,3618.0,Nobody's Fool,Par.,31700000.0,...,"[35, 18, 10749]",514619,en,Nobody's Fool,12.276,2018,nobody's fool,5.9,96,2018
1760,tt8267604,capernaum,Capharnaüm,2018,Drama,8.5,20215.0,Capernaum,SPC,1700000.0,...,[18],517814,ar,کفرناحوم,20.249,2018,capernaum,8.4,329,2018
1761,tt8290698,the spy gone north,Gongjak,2018,Drama,7.2,1620.0,The Spy Gone North,CJ,501000.0,...,"[18, 36]",517991,ko,공작,6.794,2018,the spy gone north,7.3,33,2018
1762,tt8404272,how long will i love u,Chao shi kong tong ju,2018,Romance,6.5,607.0,How Long Will I Love U,WGUSA,747000.0,...,"[35, 10749, 18, 9648]",522921,zh,超时空同居,6.840,2018,how long will i love u,7.4,11,2018
1763,tt9078374,last letter,"Ni hao, Zhihua",2018,"Drama,Romance",6.4,322.0,Last Letter,CL,181000.0,...,"[10749, 18]",551634,zh,你好，之华,0.600,2018,last letter,6.0,1,2018

In [237]:
print(merged_final.shape)

(1764, 23)

In [238]:
merged_final.isna().sum()

movie_id              0
primary_title         0
original_title_x      0
start_year            0
genres                0
averagerating        22
numvotes             22
title_x               0
studio                0
domestic_gross        0
foreign_gross         0
year                  0
Unnamed: 0            0
genre_ids             0
id                    0
original_language     0
original_title_y      0
popularity            0
release_date          0
title_y               0
vote_average          0
vote_count            0
release_year          0
dtype: int64

In [239]:
print(df_tn_cleaned.columns)
print(merged_final.columns)

Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross', 'profit'],
      dtype='object')
Index(['movie_id', 'primary_title', 'original_title_x', 'start_year', 'genres',
       'averagerating', 'numvotes', 'title_x', 'studio', 'domestic_gross',
       'foreign_gross', 'year', 'Unnamed: 0', 'genre_ids', 'id',
       'original_language', 'original_title_y', 'popularity', 'release_date',
       'title_y', 'vote_average', 'vote_count', 'release_year'],
      dtype='object')

In [240]:
print(merged_final[['movie_id', 'start_year']].dtypes)
print(df_tn_cleaned[['id', 'release_date']].dtypes)

movie_id      object
start_year    object
dtype: object
id               int64
release_date    object
dtype: object

In [241]:
df_tn_cleaned['id'] = df_tn_cleaned['id'].astype(str)

In [242]:
merged_final['start_year'] = merged_final['start_year'].astype(str)
df_tm_cleaned['release_date'] = df_tm_cleaned['release_date'].astype(str)
df_tm_cleaned['id'] = df_tm_cleaned['id'].astype(str)
df_tm_cleaned['release_date'] = df_tm_cleaned['release_date'].astype(str)

In [243]:
merged_final['movie_id'] = merged_final['movie_id'].str.strip()
merged_final['start_year'] = merged_final['start_year'].str.strip()
df_tm_cleaned['id'] = df_tm_cleaned['id'].str.strip()
df_tm_cleaned['release_date'] = df_tm_cleaned['release_date'].str.strip()

In [244]:
print(merged_final[['movie_id', 'start_year']].dtypes)
print(df_tn_cleaned[['id', 'release_date']].dtypes)

movie_id      object
start_year    object
dtype: object
id              object
release_date    object
dtype: object

In [245]:
print(merged_final[['movie_id', 'start_year']].head(10))
print(df_tm_cleaned[['id', 'release_date']].head(10))

    movie_id start_year
0  tt0315642       2016
1  tt0337692       2012
2  tt0359950       2013
3  tt0365907       2014
4  tt0369610       2015
5  tt0376136       2011
6  tt0376479       2016
7  tt0376479       2016
8  tt0383010       2012
9  tt0398286       2010
      id release_date
0  12444         2010
1  10191         2010
2  10138         2010
3    862         1995
4  27205         2010
5  32657         2010
6  19995         2009
7  10193         2010
8  20352         2010
9  38055         2010

In [246]:
merged_final['primary_title'] = merged_final['primary_title'].str.lower().str.strip()
df_tm_cleaned['title'] = df_tm_cleaned['title'].str.lower().str.strip()

In [247]:
df_tm_cleaned['release_year'] = pd.to_datetime(df_tm_cleaned['release_date'], errors='coerce').dt.year.astype(str)
merged_final['start_year'] = merged_final['start_year'].astype(str)

In [248]:
merged_final_table = merged_final.merge(
    df_tm_cleaned,
    left_on=['primary_title', 'start_year'],
    right_on=['title', 'release_year'],
    how='inner'
)
merged_final_table

,movie_id,primary_title,original_title_x,start_year,genres,averagerating,numvotes,title_x,studio,domestic_gross,...,genre_ids_y,id_y,original_language_y,original_title,popularity_y,release_date_y,title,vote_average_y,vote_count_y,release_year_y
0,tt0315642,wazir,Wazir,2016,"Action,Crime,Drama",7.1,15378.0,Wazir,Relbig.,1100000.0,...,"[53, 28, 80, 18, 9648]",275269,hi,वज़ीर,3.881,2016,wazir,6.6,63,2016
1,tt0337692,on the road,On the Road,2012,"Adventure,Drama,Romance",6.1,37886.0,On the Road,IFC,744000.0,...,"[12, 18]",83770,en,On the Road,8.919,2012,on the road,5.6,518,2012
2,tt0359950,the secret life of walter mitty,The Secret Life of Walter Mitty,2013,"Adventure,Comedy,Drama",7.3,275300.0,The Secret Life of Walter Mitty,Fox,58200000.0,...,"[12, 35, 18, 14]",116745,en,The Secret Life of Walter Mitty,10.743,2013,the secret life of walter mitty,7.1,4859,2013
3,tt0365907,a walk among the tombstones,A Walk Among the Tombstones,2014,"Action,Crime,Drama",6.5,105116.0,A Walk Among the Tombstones,Uni.,26300000.0,...,"[80, 18, 9648, 53]",169917,en,A Walk Among the Tombstones,19.373,2014,a walk among the tombstones,6.3,1685,2014
4,tt0369610,jurassic world,Jurassic World,2015,"Action,Adventure,Sci-Fi",7.0,539338.0,Jurassic World,Uni.,652300000.0,...,"[28, 12, 878, 53]",135397,en,Jurassic World,20.709,2015,jurassic world,6.6,14056,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2049,tt8097306,nobody's fool,Nobody's Fool,2018,"Comedy,Drama,Romance",4.6,3618.0,Nobody's Fool,Par.,31700000.0,...,"[35, 18, 10749]",514619,en,Nobody's Fool,12.276,2018,nobody's fool,5.9,96,2018
2050,tt8267604,capernaum,Capharnaüm,2018,Drama,8.5,20215.0,Capernaum,SPC,1700000.0,...,[18],517814,ar,کفرناحوم,20.249,2018,capernaum,8.4,329,2018
2051,tt8290698,the spy gone north,Gongjak,2018,Drama,7.2,1620.0,The Spy Gone North,CJ,501000.0,...,"[18, 36]",517991,ko,공작,6.794,2018,the spy gone north,7.3,33,2018
2052,tt8404272,how long will i love u,Chao shi kong tong ju,2018,Romance,6.5,607.0,How Long Will I Love U,WGUSA,747000.0,...,"[35, 10749, 18, 9648]",522921,zh,超时空同居,6.840,2018,how long will i love u,7.4,11,2018
2053,tt9078374,last letter,"Ni hao, Zhihua",2018,"Drama,Romance",6.4,322.0,Last Letter,CL,181000.0,...,"[10749, 18]",551634,zh,你好，之华,0.600,2018,last letter,6.0,1,2018

In [249]:
merged_final_table.isna().sum()

movie_id                0
primary_title           0
original_title_x        0
start_year              0
genres                  0
averagerating          38
numvotes               38
title_x                 0
studio                  0
domestic_gross          0
foreign_gross           0
year                    0
Unnamed: 0_x            0
genre_ids_x             0
id_x                    0
original_language_x     0
original_title_y        0
popularity_x            0
release_date_x          0
title_y                 0
vote_average_x          0
vote_count_x            0
release_year_x          0
Unnamed: 0_y            0
genre_ids_y             0
id_y                    0
original_language_y     0
original_title          0
popularity_y            0
release_date_y          0
title                   0
vote_average_y          0
vote_count_y            0
release_year_y          0
dtype: int64

In [250]:
print(merged_final_table.columns)

Index(['movie_id', 'primary_title', 'original_title_x', 'start_year', 'genres',
       'averagerating', 'numvotes', 'title_x', 'studio', 'domestic_gross',
       'foreign_gross', 'year', 'Unnamed: 0_x', 'genre_ids_x', 'id_x',
       'original_language_x', 'original_title_y', 'popularity_x',
       'release_date_x', 'title_y', 'vote_average_x', 'vote_count_x',
       'release_year_x', 'Unnamed: 0_y', 'genre_ids_y', 'id_y',
       'original_language_y', 'original_title', 'popularity_y',
       'release_date_y', 'title', 'vote_average_y', 'vote_count_y',
       'release_year_y'],
      dtype='object')

In [252]:
merged_final_table = merged_final_table.drop(
    ['title_x', 'original_title_y', 'title_y', 'id_x', 'release_date_x', 'Unnamed: 0_y', 'genre_ids_x',], 
    axis=1, 
)

In [256]:
merged_final_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2054 entries, 0 to 2053
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   movie_id             2054 non-null   object
 1   primary_title        2054 non-null   object
 2   original_title_x     2054 non-null   object
 3   start_year           2054 non-null   object
 4   genres               2054 non-null   object
 5   averagerating        2016 non-null   float64
 6   numvotes             2016 non-null   float64
 7   studio               2054 non-null   object
 8   domestic_gross       2054 non-null   float64
 9   foreign_gross        2054 non-null   float64
 10  year                 2054 non-null   int64
 11  Unnamed: 0_x         2054 non-null   int64
 12  original_language_x  2054 non-null   object
 13  popularity_x         2054 non-null   float64
 14  vote_average_x       2054 non-null   float64
 15  vote_count_x         2054 non-null   int64
 16  release_year_x       2054 non-null   int64
 17  genre_ids_y          2054 non-null   object
 18  id_y                 2054 non-null   object
 19  original_language_y  2054 non-null   object
 20  original_title       2054 non-null   object
 21  popularity_y         2054 non-null   float64
 22  release_date_y       2054 non-null   object
 23  title                2054 non-null   object
 24  vote_average_y       2054 non-null   float64
 25  vote_count_y         2054 non-null   int64
 26  release_year_y       2054 non-null   object
dtypes: float64(8), int64(5), object(14)
memory usage: 449.3+ KB

In [260]:
merged_final_table = merged_final_table.drop(
    ['year', 'Unnamed: 0_x', 'original_language_x', 'release_year_x', 'genre_ids_y', 'id_y', 'vote_count_y', 'release_year_y'],
    axis=1
)

In [261]:
merged_final_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2054 entries, 0 to 2053
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   movie_id             2054 non-null   object
 1   primary_title        2054 non-null   object
 2   original_title_x     2054 non-null   object
 3   start_year           2054 non-null   object
 4   genres               2054 non-null   object
 5   averagerating        2016 non-null   float64
 6   numvotes             2016 non-null   float64
 7   studio               2054 non-null   object
 8   domestic_gross       2054 non-null   float64
 9   foreign_gross        2054 non-null   float64
 10  popularity_x         2054 non-null   float64
 11  vote_average_x       2054 non-null   float64
 12  vote_count_x         2054 non-null   int64
 13  original_language_y  2054 non-null   object
 14  original_title       2054 non-null   object
 15  popularity_y         2054 non-null   float64
 16  release_date_y       2054 non-null   object
 17  title                2054 non-null   object
 18  vote_average_y       2054 non-null   float64
dtypes: float64(8), int64(1), object(10)
memory usage: 320.9+ KB